# R-specific ignores
*.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.Rapp.history
/src/dados_brutos/*.RData

# R package build artifacts
.Rbuildignore
*.tar.gz
*.Rcheck/

# Compiled files
*.o
*.so
*.dll

# Logs and temporary files
*.log
*.out
*.aux
*.toc
*.lof
*.lot
*.bbl
*.blg
*.synctex.gz

# OS-specific ignores
.DS_Store
Thumbs.db

# IDE and Editor-specific ignores

# RStudio
.Rproj.user/

# VS Code
.vscode/

# Sublime Text
*.sublime-workspace
*.sublime-project

# vi/vim
*.swp
*.swo
*.swn
*~

# Windows specific
Desktop.ini

# Linux specific
*~
.nfs*
